/* FONTS
font-family: 'Arvo', serif;
font-family: 'Fira Sans', sans-serif; 
*/

/* COLOR PALETTE 
Background
Ebony - #1E1200
Olive - #807555
Ivory - #FDFFF0
Dark Red - #970C10
*/

/* Overflow */
body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

/* Universal */

body {
    background-color: #FDFFF0;
}

.red {
    color: #970c10;
}

.fira {
    font-family: 'Fira Sans', sans-serif;
}

.arvo {
    font-family: 'Arvo', serif !important;
}

.italic {
    font-style: italic;
}

.padTop {
    padding-top: 15px;
}

.caterPad {
    padding: 30px 0px;
}

.colSpace {
    padding-right: 80px;
}

/* Font Size */
.font-34 {
    font-size: 34px;
}

.font-22 {
    font-size: 22px;
}

.font-21 {
    font-size: 21px;
}

.font-20 {
    font-size: 20px;
}

.font-19 {
    font-size: 19px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px;
}

/* HOME PAGE */
/* Navbar */
nav {
    background-color: #1E1200;
    height: 120px;
    z-index: 1;
}

.navbar-collapse {
    background-color: #1E1200;
    /* Set the background color to match the navbar */
}


.custom-toggler {
    border: none;
}

.navbar-brand {
    z-index: 1;
    position: absolute;
    top: -5px;
    left: 45px;
}

.nav-link {
    color: #FDFFF0;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.border-link:hover {
    color: #FDFFF0;
    border-bottom: solid 1px #FDFFF0;
}

.orderBtn {
    border-radius: 3px;
    border: none;
    background-color: #970c10;
    color: #FDFFF0;
    font-weight: 700;
    width: 140px;
    height: 45px;
    padding: 0 !important;
}

.orderBtn:hover {
    background-color: #FDFFF0;
    color: #970c10;
}

/* Line Breaks */
.fullLine {
    background-color: #807555;
    height: 2px;
    width: 85%;
    opacity: 90% !important;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

.halfLine {
    background-color: #807555;
    height: 3px;
    width: 90%;
    opacity: 90% !important;
    border-radius: 10px;
    border: none;
    margin: auto;
}

.halfline-left-pad {
    padding-left: 170px;
}

.halfline-right-pad {
    padding-right: 170px;
}

/* Carousel - did this work? lol*/
a:root {
    scroll-behavior: smooth;
}

/* Call to Action Row */
.callToAction {
    background-color: #807555;
    color: #FDFFF0;
    border-top: 20px solid #1E1200;
    border-bottom: 20px solid #1E1200;
}

.font-calltoaction {
    font-size: 16px;
}

.border-right {
    margin: 20px 0 20px 0;
    border-right: solid 3px #FDFFF0;
    border-radius: 2px;
}

.letter-spacing {
    letter-spacing: 0.75px;
}

.action-a {
    color: #FDFFF0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.border-call {
    border-left: 3px solid #FDFFF0;
    border-right: 3px solid #FDFFF0;
    margin: 20px 0px;
    border-radius: 2px;
}

/* Weekly Specials */
.specDealsUpdated {
    height: 570px;
    font-family: 'Arvo', serif;
}

.weekBoxUpdated {
    width: 100%;
    height: 50%;
}

.line-specials {
    line-height: 18px;
}

.letter-specials {
    letter-spacing: 0.35px;
}

.special-icon {
    height: 5.5rem;
}

.icons-display {
    display: flex;
    justify-content: end;
}

/* History Section */
.history {
    color: #FDFFF0;
    background-color: #1E1200;
    font-family: 'Arvo', serif;
}

.history-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-box {
    padding: 150px 150px;
}

.small-text {
    padding-top: 60px;
    letter-spacing: 0.35px;
    font-weight: 300;
}

.small-text a {
    color: #887D5D;
    font-size: larger;
    font-weight: 800;
}

.bolder-history {
    font-weight: 600;
}

.line-spacing-history {
    padding-bottom: 28px;
}

/* Hours and Location */
.openTimes {
    font-family: 'Arvo', serif;
}

.weekday-col {
    padding-left: 0px;
}

/* Hiring Section */
.hiringUpdated {
    height: 500px;
    width: 100%;
    background-image: url("../assets/hiring.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 20px solid #1E1200;
}

.hireBoxUpdated {
    background-color: black;
    opacity: 60%;
    width: 450px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    padding-top: 40px;
}

.hireTxt {
    color: #FDFFF0;
    opacity: 100%;
}

.hiring-icon {
    height: 4.75rem;
}

/* Footer */
footer {
    background-color: #1E1200;
    color: #FDFFF0;
    text-align: center;
}

.footer-line-sp {
    line-height: 12px
}


/* MENU */
.topBtn {
    border: none;
    background-color: transparent;
    z-index: 99;
    position: fixed;
    right: 30px;
    bottom: 20px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lightsBanner {
    background-size: cover;
    background-image: url('../assets/andrew-knechel-gG6yehL64fo-unsplash.png');
    padding: 0 !important;
}

.clearBox {
    width: 100%;
    height: 20vh;
}

.menuNav {
    padding-top: 45px;
    padding-bottom: 55px;
}

.menuNav a {
    color: #970c10;
}

.menuNav p {
    font-weight: bold;
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 20px;
}

.menuNav a:root {
    scroll-behavior: smooth;
}

.menuItems {
    width: 85%;
    padding-bottom: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px;
}

.menuItems li {
    list-style: none;
    font-style: italic;
}

.navBox {
    width: 50%;
    margin: 0 auto;
}

#app {
    padding-top: 50px;
}

/* .topBtn{

} */

/* CATERING */
.caterHero {
    background-image: url('../assets/al-elmes-ULHxWq8reao-unsplash.png');
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 !important;
}

.caterBox {
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
    color: #FDFFF0;
}

.caterTxt {
    width: 80%;
    font-size: 18px;
}


td {
    padding: 20px 150px 20px 150px;
    text-align: center;
    text-wrap: nowrap;
}

th {
    text-wrap: nowrap;
    /* padding-right: 350px; */
}


/* BANQUET */
.banqHero {
    background-image: url("../assets/pexels-mat-brown-1395964.png");
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px !important;
}

.banqBox {
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
}

.heroTxtUpdated {
    color: #FDFFF0;
    font-family: 'Arvo', serif;
    text-align: center;
    opacity: 100% !important;
    /* add to html row: h-100 d-flex align-items-center */
}

.banqRow {
    background-color: #807555;
    border-top: 20px solid #1E1200;
    border-bottom: 20px solid #1E1200;
    color: #FDFFF0;
    font-family: 'Arvo', serif;
}

.genInfo {
    width: 75%;
    padding: 75px 0px;
}

.genInfo a {
    color: #970c10;
}

.genInfo a:root {
    scroll-behavior: smooth;
}

.banqTime {
    width: 85%;
    font-family: 'Arvo', serif;
    font-weight: bold;
}

.timeBox {
    padding: 100px 0px 75px 0px !important;
    width: 80%;
    margin: 100px auto;
}

.timeline {
    padding: 15px;
    display: grid;
    grid-template-columns: 40% auto;
    justify-content: center;
}

.timeline ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.timeline li {
    margin-top: 30px;
    position: relative;
    padding: 25px;
}

.time1 {
    width: 14px;
    height: 14px;
    top: -165px;
    left: -130px;
}

.time2 {
    width: 15px;
    height: 15px;
    top: -65px;
    left: -130px;
}

.time3 {
    width: 15px;
    height: 15px;
    top: 50px;
    left: -130px;
}

.time4 {
    width: 15px;
    height: 15px;
    top: 190px;
    left: -130px;
}

.leftTxt1 {
    padding: 0;
    margin-top: 15px;
    transition: 1.5s;
    font-family: 'Arvo', serif;
    color: #1E1200;
    font-size: 14px;
    position: absolute;
    left: -300px;
    top: -165px;
}

.rightTxt1 {
    padding: 0;
    margin-top: 15px;
    transition: 1.5s;
    font-family: 'Arvo', serif;
    color: #1E1200;
    font-size: 14px;
    position: absolute;
    left: -105px;
    top: -75px;
}

.leftTxt2 {
    padding: 0;
    margin-top: 15px;
    transition: 1.5s;
    font-family: 'Arvo', serif;
    color: #1E1200;
    font-size: 14px;
    position: absolute;
    left: -315px;
    top: 40px;
    width: 175px;
}

.rightTxt2 {
    padding: 0;
    margin-top: 15px;
    transition: 1.5s;
    font-family: 'Arvo', serif;
    color: #1E1200;
    font-size: 14px;
    position: absolute;
    top: 175px;
    left: -105px;
}

.iconLeft1 {
    position: absolute;
    width: 34px;
    top: -195px;
    left: -235px;
    opacity: 0;
    transition: 1.5s;
    opacity: 100;
}

.iconLeft2 {
    position: absolute;
    width: 34px;
    top: 20px;
    left: -250px;
    opacity: 0;
    transition: 1.5s;
    opacity: 100;
}

.iconRight1 {
    position: absolute;
    width: 34px;
    top: -95px;
    left: -50px;
    opacity: 0;
    transition: 1.5s;
    opacity: 100;
}

.iconRight2 {
    position: absolute;
    width: 34px;
    top: 145px;
    left: -65px;
    opacity: 0;
    transition: 1.5s;
    opacity: 100;
}

.timelineLine {
    background: black;
    height: 600px;
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: center;
}

.timeline-point {
    border: none;
    position: absolute;
    border-radius: 50%;
    background: #970c10;
    transition: 1.5s ease;
}



@media screen and (min-width: 769px) {

    
    .timeline {
        display: block;
    }

    .timeline ul {
        flex-direction: row;
    }

    .timeline li {
        margin-top: 0px;
        position: relative;
        width: 100%;
        padding: 0px;
    }

    .timeline li p {
        transform: translateY(10px);
        opacity: 100%;
        transition: 1.5s;
        font-size: 18px;
    }

    .iconTop1 {
        opacity: 100%;
        transition: 1.5s;
        width: 34px;
        position: absolute;
        top: -150px;
        left: 40%;
    }

    .iconTop2 {
        opacity: 100%;
        transition: 1.5s;
        width: 34px;
        position: absolute;
        top: -145px;
        left: 40%;
    }

    .topTxt1 {
        opacity: 100%;
        transition: 1.5s;
        position: absolute;
        top: -120px;
        left: 22px;
        font-size: 14px !important;
    }

    .topTxt2 {
        opacity: 100%;
        transition: 1.5s;
        position: absolute;
        top: -135px;
        left: 10px;
        font-size: 14px !important;
    }

    .botTxt1 {
        opacity: 100%;
        transition: 1.5s;
        position: absolute;
        top: -35px;
        left: -5px;
        font-size: 14px !important;
    }

    .botTxt2 {
        opacity: 100%;
        transition: 1.5s;
        position: absolute;
        font-size: 16px;
        top: -40px;
        left: 42px;
        font-size: 14px !important;
    }

    .iconBot1 {
        opacity: 100%;
        transition: 1.5s;
        width: 50px;
        position: absolute;
        top: 40px;
        left: 35%;
    }

    .iconBot2 {
        opacity: 100%;
        transition: 1.5s;
        width: 50px;
        position: absolute;
        top: 35px;
        left: 38%;
    }

    .time1 {
        width: 15px;
        height: 15px;
        top: -40px;
        left: 45%;
        transition: 1.5s ease;
    }

    .time2 {
        width: 15px;
        height: 15px;
        top: -39px;
        left: 45%;
        transition: 1.5s ease;
    }

    .time3 {
        width: 15px;
        height: 15px;
        top: -39px;
        left: 45%;
        transition: 1.5s ease;
    }

    .time4 {
        width: 15px;
        height: 15px;
        top: -40px;
        left: 45%;
        transition: 1.5s ease;
    }

    .timelineLine {
        width: 75%;
        height: 4px;
        margin: 0 auto;
    }
}


.content img {
    width: 30px !important;
}

.banqPad {
    padding: 50px 0px;
    width: 75%;
}





.poliTxt p {
    color: #970c10;
    font-family: 'Arvo', serif;
    text-align: center;
}

.policy li {
    line-height: 1;
    padding-bottom: 25px;
}

.policy {
    padding-left: 0 !important;
}




/* CONTACT */
.contHero {
    background-image: url('../assets/pexels-ketut-subiyanto-4559707.png');
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px !important;
}

.contBox {
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
    border-radius: 5px;
}

.submitBtn {
    background-color: #807555;
    border: none;
    border-radius: 5px;
    color: #FDFFF0;
}

.submitBtn:hover {
    background-color: #1E1200;
}

label {
    padding: 40px 0 15px 2px !important;
}

input {
    background-color: #FDFFF0;
    border: 1.5px solid #1E1200;
    border-radius: 5px;
    height: 50px;
    padding: 0px 12px !important;
}

textarea {
    background-color: #FDFFF0;
    border: 1.5px solid #1E1200;
    border-radius: 5px;
}

.padding-btm {
    padding-bottom: 170px
}


/* Media Queries */

@media screen and (max-width: 1902px) {
    .font-20 {
        font-size: 18px;
    }

    .history-box {
        padding: 100px 100px;
    }
}

@media screen and (max-width: 1616px) {
    .history-box {
        padding: 80px 80px;
    }

    .small-text {
        padding-top: 40px;
    }
}

@media screen and (max-width: 1510px) {
    .font-calltoaction {
        font-size: 14px;
    }
}

@media screen and (max-width: 1486px) {
    .font-20 {
        font-size: 16px;
    }

    .line-spacing-history {
        padding-bottom: 20px;
    }

    .history-box {
        padding: 60px 60px;
    }
}

@media screen and (max-width: 1368px) {
    .line-spacing-history {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 1285px) {
    .font-22 {
        font-size: 20px;
    }

    .halfline-resize {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 991px) {
    .nav-logo {
        height: 10rem !important;
    }

    .navbar-brand {
        left: 30px;
    }

    .font-16 {
        font-size: 14px;
    }

    .special-icon {
        height: 3.5rem;
    }
}

@media screen and (max-width: 767px) {
    .font-16 {
        font-size: 14px;
    }

    .special-icon {
        height: 6.2rem;
    }

    .specDealsUpdated {
        height: 680px;
    }

    .icons-display {
        justify-content: center !important;
    }
}

@media screen and (max-width: 720px) {
    .font-calltoaction {
        font-size: 12px;
    }

    .hours-box {
        margin: 0px 0px !important;
        padding: 0px 0px !important;
    }

    .halfline-left-pad {
        padding-left: 70px;
    }

    .halfline-right-pad {
        padding-right: 70px;
    }
}

@media screen and (max-width: 583px) {
    .font-16 {
        font-size: 12px;
    }

    .hireBoxUpdated {
        width: 300px;
        height: 200px;
        padding-top: 30px;
    }

    .font-34 {
        font-size: 25px;
    }

    .font-21 {
        font-size: 16.5px;
    }

    .hiring-icon {
        height: 3.75rem;
    }
}

@media screen and (max-width: 501px) {
    .font-calltoaction {
        font-size: 9px;
    }

    .font-18 {
        font-size: 12px;
    }

    .hours-box {
        padding-top: -50px !important;
    }
}

@media screen and (max-width: 423px) {
    .special-icon {
        height: 3.8rem;
    }

    .hireBoxUpdated {
        width: 150px;
        height: 200px;
        padding-top: 40px;
    }

    .font-34 {
        font-size: 22px;
    }

    .font-21 {
        font-size: 14px;
    }

    .hiring-icon {
        height: 3.5rem;
        display: none;
    }
}




@media screen and (max-width: 1024px) {
    .topBtn {
        right: 15px;
    }

    .caterBox {
        width: 42vw;
        height: 35vh;
    }

    .banqRow a {
        font-size: 14px;
        text-wrap: nowrap;
    }

    .phone {
        padding-right: 5px;
    }

    .caterNote {
        font-size: 18px;
    }

    .caterTxt {
        font-size: 16px;
    }

    td {
        padding: 20px 50px 20px 50px;
    }

    .banqTime p {
        text-wrap: nowrap;
    }

    .timeline p {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {
    .callToAction a {
        font-size: 14px;
    }

    .callToAction img {
        width: 40px;
    }

    .phone {
        width: 35px !important;
    }

    .topBtn {
        right: 10px;
    }

    td {
        padding: 15px 40px 15px 40px;
    }

    .caterTxt {
        font-size: 14px;
    }

    .caterPad {
        padding: 20px 0px;
    }

    .banqTime p {
        text-wrap: nowrap;
        font-size: 12px;
    }

    .timeline ul {
        margin-top: 0;
    }
}

@media screen and (max-width: 425px) {
    .menuItems {
        font-size: 12px;
    }

    .navBox {
        width: 90%;
    }

    .navBox a {
        font-size: 14px;
    }

    .callToAction a {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .callToAction img {
        width: 25px;
    }

    .phone {
        width: 25px !important;
        padding: 0 !important;
    }

    .topBtn {
        right: 0px;
    }

    .banqRow a {
        font-size: 12px;
        letter-spacing: normal;
    }

    .caterNote {
        font-size: 12px !important;
    }

    td {
        padding: 20px 10px;
        font-size: 12px;
    }

    th {
        font-size: 12px;
    }

    .caterTxt li {
        list-style-type: none;
    }

    .caterTxt ul {
        padding: 0px;
    }

    .caterPad {
        padding: 15px 0px;
    }

    .poliTxt {
        font-size: 10px;
    }

    .banqTime p {
        font-size: 9px;
        text-wrap: wrap;
    }

    .days p {
        margin-bottom: 22px;
    }

    .noPad {
        padding: 0 !important;
    }

    .genInfo {
        font-size: small;
    }


    .time1{
        left: -75px;
    }

    .time2{
        left: -75px;
    }

    .time3{
        left: -75px;
    }

    .time4{
        left: -75px;
    }

    .leftTxt1{
        left: -245px
    }

    .iconLeft1{
        left: -180px;
    }

    .rightTxt1{
        left: -50px;
        height: 50px;
        width: 150px;
    }

    .iconRight1{
        left: 3px;
    }

    .leftTxt2{
        left: -255px;
    }

    .iconLeft2{
        left: -190px;
    }

    .rightTxt2{
        left: -65px;
        top: 180px;
        width: 150px;
    }

    .iconRight2{
        left: -5px;
        top: 155px;
    }

    .padMe{
        padding-left: 30px !important;
    }

    .timeBox{
        margin-left: 75px !important;
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 375px) {
    .menuItems {
        font-size: 10px;
    }

    .callToAction a {
        font-size: 10px;
    }

    .callToAction img {
        width: 25px;
    }

    .caterBox {
        width: 20vh;
    }

    td {
        font-size: 8px;
        padding: 15px 12px;
    }

    th {
        font-size: 8px;
    }

    .banqTime p {
        font-size: 8px;
        text-wrap: wrap;
    }

    .days p {
        margin-bottom: 21px;
    }

    .time1{
        left: -67px;
    }

    .time2{
        left: -67px
    }

    .time3{
        left: -67px;
    }

    .time4{
        left: -67px;
    }

    .rightTxt2{
        left: -55px;
    }
}


@media screen and (min-width: 1440px) {
    .topTxt1 {
        left: 42px;
        top: -130px;
        font-size: 18px !important;
    }

    .topTxt2 {
        top: -130px;
        left: -10px;
        width: 300px;
        font-size: 18px !important;
    }

    .botTxt2 {
        font-size: 18px !important;
        left: 65px;
        line-height: normal;
    }

    .botTxt1 {
        font-size: 18px !important;
        top: -40px;
        left: 3px;
    }

    .iconTop1 {
        left: 120px;
    }

    .iconTop2 {
        left: 118px;
    }

    .iconBot1 {
        left: 112px;
        top: 50px;
    }

    .iconBot2 {
        left: 116px;
        top: 40px;
    }

    .banqRow p {
        text-wrap: nowrap;
    }

    .padMe {
        padding-left: 250px !important;
        text-wrap: wrap;
    }
}

@media screen and (max-width:1440px) {
    .padMe {
        padding-left: 200px !important;
        padding-top: 10px;
    }
}

@media screen and (max-width: 1025px) {
    .padMe {
        padding-left: 150px !important;
    }
}

@media screen and (max-width: 769px) {
    .padMe {
        padding-left: 75px !important;
    }

    .navbar-collapse{
        position: absolute;
        right: 0px;
        width: 100%;
        top: 120px;
    }
}