/* FONTS
font-family: 'Arvo', serif;
font-family: 'Fira Sans', sans-serif; 
*/

/* COLOR PALETTE 
Background
Ebony - #1E1200
Olive - #807555
Ivory - #FDFFF0
Dark Red - #970C10
*/

/* Overflow */
body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

/* Universal */

body{
    background-color: #FDFFF0;
}

.red{
    color: #970c10;
}

.fira{
    font-family: 'Fira Sans', sans-serif;
}

.arvo{
    font-family: 'Arvo', serif !important;
}

.italic{
    font-style: italic;
}

.padTop{
    padding-top: 15px;
}

.caterPad{
    padding: 30px 0px;
}

.colSpace{
    padding-right: 80px;
}

/* Font Size */
.font-34 {
    font-size: 34px;
}

.font-22 {
    font-size: 22px;
}

.font-21 {
    font-size: 21px;
}

.font-20 {
    font-size: 20px;
}

.font-19 {
    font-size: 19px;
}

.font-18 {
    font-size: 18px;
}

.font-12 {
    font-size: 12px;
}

/* HOME PAGE */
/* Navbar */
nav{
   background-color: #1E1200;
   height: 120px;
}

.navbar-brand{
    z-index: 1;
    position: absolute;
    top: -5px;
    left: 45px;
}

.nav-link{
    color: #FDFFF0;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.border-link:hover {
    color: #FDFFF0;
    border-bottom: solid 1px #FDFFF0;
}

.orderBtn{
    border-radius: 3px;
    border: none;
    background-color: #970c10;
    color: #FDFFF0;
    font-weight: 700;
    width: 140px;
    height: 45px;
    padding: 0 !important;
}

.orderBtn:hover{
    background-color: #FDFFF0;
    color:#970c10;
}

.fullLine{
    background-color: #807555;
    height: 2px;
    width: 85%;
    opacity: 90% !important;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

.halfLine{
    background-color: #807555;
    height: 2px;
    width: 90%;
    opacity: 90% !important;
    border-radius: 10px;
    border: none;
    margin: auto;
}

/* Carousel - did this work? lol*/
a:root {
    scroll-behavior: smooth;
}

/* Call to Action Row */
.callToAction{
    background-color: #807555;
    color: #FDFFF0;
    border-top: 20px solid #1E1200;
    border-bottom: 20px solid #1E1200;
}

.border-right {
    margin: 20px 0 20px 0;
    border-right: solid 3px #FDFFF0;
}

.letter-spacing {
    letter-spacing: 0.75px;
}

.action-a {
    color: #FDFFF0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Weekly Specials */
.specDealsUpdated {
    height: 570px;
    font-family: 'Arvo', serif;
}

.weekBoxUpdated {
    width: 100%;
    height: 50%;
}

.line-specials {
    line-height: 18px;
}

.letter-specials {
    letter-spacing: 0.35px;
}

/* History Section */
.history{
    color: #FDFFF0;
    background-color: #1E1200;
    font-family: 'Arvo', serif;
}

.history-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-box {
    padding: 150px 150px;
}

.small-text {
    padding-top: 60px;
    letter-spacing: 0.35px;
    font-weight: 300;
}

.small-text a {
    color: #887D5D;
    font-size: 21px;
    font-weight: 800;
}

.bolder-history {
    font-weight: 600;
}

/* Hours and Location */
.openTimes{
    font-family: 'Arvo', serif;
}

.weekday-col {
    padding-left: 250px;
}

/* Hiring Section */
.hiringUpdated{
    height: 500px;
    width: 100%;
    background-image: url("../assets/hiring.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 20px solid #1E1200;
}

.hireBoxUpdated{
    background-color: black;
    opacity: 60%;
    width: 450px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    padding-top: 40px;
}

.hireTxt{
    color:#FDFFF0;
    opacity: 100%;
}

/* Footer */
footer{
    background-color: #1E1200;
    color: #FDFFF0;
    text-align: center;
}

.footer-line-sp {
    line-height: 12px
}


/* MENU */
.topBtn{
    border: none;
    background-color: transparent;
    z-index: 99;
    position: fixed;
    right: 50px;
    bottom: 20px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.menuNav{
    padding-top: 45px;
    padding-bottom: 55px;
}

.menuNav a{
    color: #970c10;
}

.menuNav p{
    font-weight: bold;
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 20px;
}

.menuNav a:root{
    scroll-behavior: smooth;
}

.menuItems{
    width: 85%;
    padding-bottom: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px;
}

.menuItems li{
    list-style: none;
    font-style: italic;
}

.navBox{
    width: 50%;
    margin: 0 auto;
}

#app{
    padding-top: 50px;
}

/* .topBtn{

} */

/* CATERING */
.caterHero{
    background-image: url('../assets/al-elmes-ULHxWq8reao-unsplash.png');
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 !important;
}

.caterBox{
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
    color: #FDFFF0;
}

.caterTxt{
    width: 80%;
    font-size: 18px;
}


td{
    padding: 20px 150px 20px 150px;
    text-align: center;
    text-wrap: nowrap;
}

th{
    text-wrap: nowrap;
    /* padding-right: 350px; */
}


/* BANQUET */
.banqHero{
    background-image: url("../assets/pexels-mat-brown-1395964.png");
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px !important;
}

.banqBox{
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
}

.heroTxt{
    color: #FDFFF0;
    font-family: 'Arvo', serif;
    text-align: center;
    opacity: 100% !important;
    padding-top: 135px;
}

.banqRow{
    background-color: #807555;
    border-top: 20px solid #1E1200;
    border-bottom: 20px solid #1E1200;
    color: #FDFFF0;
    font-family: 'Arvo', serif;
}

.genInfo{
    width: 75%;
    padding: 75px 0px;
}

.genInfo a{
    color: #970c10;
}

.genInfo a:root{
    scroll-behavior: smooth;
}

.banqTime{
    width: 85%;
    font-family: 'Arvo', serif;
    font-weight: bold;
}

.timeLine {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

.timeLine:before {
    content: '';
    position: absolute;
    width: 80%;
    top: 50%;
    left: 10%;
    height: 3px;
    margin-top: -13px;
    background: black;
}

.lineCont::before{
  padding: 40px 10px;
  position: relative;
  background-color: inherit;
  height: 50%;
}

.lineCont::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #970c10;
    border-radius: 50%;
    z-index: 1;

}

.topBox{
    top: 0;
}

.botBox{
    top: 50%;
}

.content img{
    width: 30px !important;
}

.banqPad{
    padding: 50px 0px;
    width: 75%;
}





.poliTxt p{
    color: #970c10;
    font-family: 'Arvo', serif;
    text-align: center;
}

.policy li{
    line-height: 3;

}

.policy ul{

}

/* CONTACT */
.contHero{
    background-image: url('../assets/pexels-ketut-subiyanto-4559707.png');
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px !important;
}

.contBox{
    background-color: black;
    width: 50%;
    height: 50%;
    transform: translate(0, 50%);
    border-radius: 5px;
}

.submitBtn{
    background-color: #807555;
    border: none;
    border-radius: 5px;
    color: #FDFFF0;
}

label {
    padding: 40px 0 15px 2px !important;
}

input {
    background-color: #FDFFF0;
    border: 1.5px solid #1E1200;
    border-radius: 5px;
    height: 50px;
    padding: 0px 12px !important;
}

textarea {
    background-color: #FDFFF0;
    border: 1.5px solid #1E1200;
    border-radius: 5px;
}

.padding-btm {
    padding-bottom: 170px
}